
/*!* serie selecionada *!*/
.serie-selecionada{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)50%);
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.serie-selecionada .descricao-serie{
    margin: 10px 20px 40px;
}

.serie-selecionada .titulo-serie{
    margin-top: 15%;
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nome-us-serie{
    margin-left: 10px;
}

.ano-serie{
    margin-left: 10px;
}

.genero-serie{
    margin-left: 10px;
}

.nota-serie{
    margin-left: 10px;
}

.info-serie{
    margin-right: 50%;
    margin-bottom: 80px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%);
}

.estrelas input[type=radio] {
    display: none;
}
.estrelas label i.fas:before {
    content:'\f005';
    color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fas:before {
    color: #CCC;
}
.estrelas{
    margin-left: 10px;
}

.info-episode{
    margin-left: 30px;
}


