<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <!-- responsividade -->
    <link rel="stylesheet" href="responsive.css">
    <!-- owl css -->
    <link rel="stylesheet" href="owl/owl.carousel.min.css">
    <link rel="stylesheet" href="owl/owl.theme.default.min.css">

    <title>Meu Cineflix</title>
</head>
<body>
    <header>
        <div class="container">
            <h2 class="logo">MEU CINEFLIX</h2>
            <NAV>
                <a href="http://localhost:8080/">Início</a>
                <a href="#">Séries</a>
            </NAV>
            
        </div>
    </header>
    <main>
        <div class="filme-principal">
            <div class="container">
                <h3 class="titulo">CATÁLOGO</h3>
                <p class="descricao">Servidor com o catálogo contendo todos os meus arquivos de filmes e séries</p>
            </div>
        </div>  
    </main>
    <div class="carrossel-filmes">
        <h3 class="titulo">FILMES</h3>
        <div class="owl-carousel owl-theme" id="lista-filmes">
        </div>
    </div>

    <div class="carrossel-recentes">
        <h3 class="titulo">NOVIDADES</h3>
        <div class="owl-carousel owl-theme" id="lista-recentes">
        </div>
    </div>

    <div class="carrossel-ultimos">
        <h3 class="titulo">ÚLTIMOS ADICIONADOS</h3>
        <div class="owl-carousel owl-theme" id="lista-ultimos">
        </div>
    </div>

    <div class="carrossel-classicos">
        <h3 class="titulo">CLÁSSICOS</h3>
        <div class="owl-carousel owl-theme" id="lista-classicos">
        </div>
    </div>

    <div class="carrossel-acao">
        <h3 class="titulo">AÇÃO</h3>
        <div class="owl-carousel owl-theme" id="lista-acao">
        </div>
    </div>

    <div class="carrossel-animacao">
        <h3 class="titulo">ANIMAÇÃO</h3>
        <div class="owl-carousel owl-theme" id="lista-animacao">
        </div>
    </div>

    <div class="carrossel-aventura">
        <h3 class="titulo">AVENTURA</h3>
        <div class="owl-carousel owl-theme" id="lista-aventura">
        </div>
    </div>

    <div class="carrossel-comedia">
        <h3 class="titulo">COMÉDIA</h3>
        <div class="owl-carousel owl-theme" id="lista-comedia">
        </div>
    </div>

    <div class="carrossel-drama">
        <h3 class="titulo">DRAMA</h3>
        <div class="owl-carousel owl-theme" id="lista-drama">
        </div>
    </div>

    <div class="carrossel-familia">
        <h3 class="titulo">FAMÍLIA</h3>
        <div class="owl-carousel owl-theme" id="lista-familia">
        </div>
    </div>

    <div class="carrossel-fantasia">
        <h3 class="titulo">FANTASIA</h3>
        <div class="owl-carousel owl-theme" id="lista-fantasia">
        </div>
    </div>

    <div class="carrossel-ficcao">
        <h3 class="titulo">FICÇÃO CIENTÍFICA</h3>
        <div class="owl-carousel owl-theme" id="lista-ficcao">
        </div>
    </div>

    <div class="carrossel-romance">
        <h3 class="titulo">ROMANCE</h3>
        <div class="owl-carousel owl-theme" id="lista-romance">
        </div>
    </div>

    <div class="carrossel-terror">
        <h3 class="titulo">TERROR</h3>
        <div class="owl-carousel owl-theme" id="lista-terror">
        </div>
    </div>


    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/f39bdcf7ac.js"></script>
    <script src="js/owl/jquery.min.js"></script>
    <script src="js/owl/owl.carousel.min.js"></script>
    <script src="js/owl/setup.js"></script>

    
    
</body>
</html>