<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <!-- responsividade -->
    <link rel="stylesheet" href="responsive.css">
    <!-- owl css -->
    <link rel="stylesheet" href="owl/owl.carousel.min.css">
    <link rel="stylesheet" href="owl/owl.theme.default.min.css">

    <title>Meu Cineflix</title>
</head>
<body>
    <header>
        <div class="container">
            <h2 class="logo">MEU CINEFLIX</h2>
            <NAV>
                <a href="http://localhost:8080/">Início</a>
                <a href="http://localhost:8080/series">Séries</a>
            </NAV>
            
        </div>
    </header>
    <main>
        <div class="banner-principal">
            <div class="container">
                <h3 class="titulo">CATÁLOGO</h3>
                <p class="descricao">Servidor com o catálogo digital contendo todos os meus arquivos de filmes e séries</p>
            </div>
        </div>  
    </main>
    <div class="carrossel-series">
        <h3 class="titulo" id="titulo-series"></h3>
        <div class="owl-carousel owl-theme" id="lista-series">
        </div>
    </div>



    <script src="js/series.js"></script>
    <script src="https://kit.fontawesome.com/f39bdcf7ac.js"></script>
    <script src="js/owl/jquery.min.js"></script>
    <script src="js/owl/owl.carousel.min.js"></script>
    <script src="js/owl/setup.js"></script>

    
    
</body>
</html>